In [ ]:
# Librer√≠as
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt

df https://www.datosabiertos.gob.pe/dataset/morbilidad-en-emergencia-hospitalaria

In [ ]:
# Leer base de datos previamente cargada a "sample_data"
df = pd.read_csv('sample_data/TB_EMERGENCIA.csv')

In [ ]:
df.shape

(2370157, 8)

In [ ]:
df.tail()
# Limpiar Edad
# Sexo Labelencoder

,id_persona,Edad,tipo_edad,Sexo,fecha_atencion,Diagnostico,tipo_dx,id_eess
2370152,23356686,10,M,F,10/09/2021,Q379,D,16380
2370153,23356689,4,A,M,29/03/2022,B965,D,16380
2370154,23356689,4,A,M,28/03/2022,T302,D,4083
2370155,23356689,4,A,M,28/03/2022,T233,D,4071
2370156,26242826,1,A,F,13/10/2021,J219,D,646

In [ ]:
df.dtypes

id_persona         int64
Edad               int64
tipo_edad         object
Sexo              object
fecha_atencion    object
Diagnostico       object
tipo_dx           object
id_eess            int64
dtype: object

In [ ]:
len(df[df['fecha_atencion'].str.endswith('2020')])

0

In [ ]:
len(df[df['fecha_atencion'].str.endswith('2021')])

1751386

In [ ]:
len(df[df['fecha_atencion'].str.endswith('2022')])

618771

In [ ]:
df['id_persona'].value_counts()

26333488    179
10306415    110
19723931    101
9403510      99
8873269      83
           ...
8538743       1
14287676      1
38641179      1
14287674      1
26242826      1
Name: id_persona, Length: 1707939, dtype: int64

In [ ]:
df.isna().sum()

id_persona           0
Edad                 0
tipo_edad            0
Sexo                 0
fecha_atencion       0
Diagnostico       1509
tipo_dx              0
id_eess              0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df_diabetes = df[df['Diagnostico'].str.startswith(('E125',	'E126',	'E127',	'E128',	'E129',	'E130',	'E131',	'E132',	'E133',	'E134',	'E135',	'E136',	'E137',	'E138',	'E139',	'E140',	'E141',	'E142',	'E143',	'E144',	'E145',	'E146',	'E147',	'E148',	'E149',	'E232',	'N083',	'N251',	'O240',	'O241',	'O242',	'O243',	'O244',	'O249',	'E100',	'E101',	'E102',	'E103',	'E104',	'E105',	'E106',	'E107',	'E108',	'E109',	'E110',	'E111',	'E112',	'E113',	'E114',	'E115',	'E116',	'E117',	'E118',	'E119',	'E120',	'E121',	'E122',	'E123',	'E124',	'P700',	'P702',	'Z131',	'Z833'))]

In [ ]:
df_diabetes.head()

,id_persona,Edad,tipo_edad,Sexo,fecha_atencion,Diagnostico,tipo_dx,id_eess
7,36343402,54,A,M,28/05/2021,E119,D,6216
19,38273152,64,A,F,13/12/2021,E119,D,6216
20,38273152,64,A,F,22/03/2022,E119,D,6216
27,36351265,63,A,F,7/04/2021,E119,D,6216
28,36351265,64,A,F,15/03/2022,E119,D,6216

In [ ]:
df_diabetes['id_persona'].value_counts()

10306415    65
8873269     35
82924       30
1851374     29
6708941     27
            ..
1767959      1
12642632     1
36328941     1
9406846      1
30305059     1
Name: id_persona, Length: 24721, dtype: int64

In [ ]:
df_diabetes.sort_values(['id_persona','fecha_atencion'], ascending=True)

,id_persona,Edad,tipo_edad,Sexo,fecha_atencion,Diagnostico,tipo_dx,id_eess
13839,1014,59,A,M,14/11/2021,E118,D,2727
18700,1940,68,A,M,1/02/2022,E119,D,3
5271,2617,80,A,M,23/03/2022,E149,D,3356
14027,5552,73,A,M,14/09/2021,E148,D,2816
20762,5613,63,A,M,17/04/2021,E118,D,6347
...,...,...,...,...,...,...,...,...
30556,40011913,55,A,F,28/04/2022,E146,D,5984
13287,40011969,65,A,M,20/02/2022,E146,P,5984
277153,40012033,54,A,M,16/01/2022,E109,D,7437
4421,40012061,61,A,F,12/03/2022,E146,D,5984
38139,40012111,74,A,F,3/01/2022,E146,D,5984

In [ ]:
df_diabetes.dtypes

id_persona         int64
Edad               int64
tipo_edad         object
Sexo              object
fecha_atencion    object
Diagnostico       object
tipo_dx           object
id_eess            int64
dtype: object

In [ ]:
df_diabetes['fecha_atencion'] = pd.to_datetime(df_diabetes['fecha_atencion'], format='%d/%m/%Y')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_de_prueba = df_diabetes[df_diabetes['id_persona'] == 36351265].sort_values('fecha_atencion', ascending=True)
df_de_prueba.head()

,id_persona,Edad,tipo_edad,Sexo,fecha_atencion,Diagnostico,tipo_dx,id_eess
27,36351265,63,A,F,2021-04-07,E119,D,6216
28,36351265,64,A,F,2022-03-15,E119,D,6216

In [ ]:
aList = (df_de_prueba.groupby(['id_persona'])['fecha_atencion'].shift(-1) - df_de_prueba['fecha_atencion']).shift().dropna().reset_index(drop=True).dt.days.tolist()
aList

[342]

In [ ]:
if all(i >= 30 for i in aList):
  print('no readmitido')
else:
  print('readmitido')

no readmitido

In [ ]:
df['id_persona'].unique()

array([38669856, 39965894, 38129350, ..., 23356686, 23356689, 26242826])

In [ ]:
empty_dataframe = pd.DataFrame()
id_persona = []

for value in df['id_persona']:
    if df['id_persona'].unique():
      empty_dataframe.append(df['id_persona'].values)
    else:
      empty_dataframe.append(0)

empty_dataframe['target'] = id_persona

ValueError: ignored

In [ ]:
empty_dataframe

In [ ]:
# Fill target column
target = []

for value in df['id_persona']:
    if df['id_persona'].unique():
      target.append(0)
    else:
      j = (df_de_prueba.groupby(['id_persona'])['fecha_atencion'].shift(-1) - df_de_prueba['fecha_atencion']).shift().reset_index(drop=True).dt.days # si por lo menos, dias >= 30
      for i in j:
        if i >= 30:
          target.append(0)
        else:
          target.append(1)

df['target'] = target

In [ ]:
df_diabetes['id_persona'].value_counts()

In [ ]:
df[df['id_persona'] == 8873269]

In [ ]:
df[df['id_persona'] == 8873269]['Diagnostico'].value_counts()

In [ ]:
df.dtypes

In [ ]:
df.tipo_edad.value_counts()

In [ ]:
df["Edad"] = np.where(df['tipo_edad'] != 'A', 0, df["Edad"])
df = df.drop('tipo_edad', axis= 1)
df.head()

In [ ]:
len(df[df['Diagnostico'] == 'U071']) # 9, virus identificado.o Caso confirmado con resultado positivo de la prueba

In [ ]:
len(df[df['Diagnostico'] == 'U072']) # virus no identificado o Diagnosticado cl√≠nicamente y epidemiol√≥gicamente con COVID-19

In [ ]:
df.Diagnostico.unique()

In [ ]:
df.Diagnostico.value_counts()

In [ ]:
df.tipo_dx.value_counts()

In [ ]:
df['id_eess'].value_counts()

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.fecha_atencion.value_counts()

In [ ]:
# Features independientes
X = df.drop('Diagnostico', axis= 1)
# Label dependiente
y = df['Diagnostico'] #Si hay riesgo de morbilidad o no (1, 0)

DEFINIR EL MODELO: clustering descriptivo machine

In [ ]:
from sklearn.model_selection import train_test_split
#¬†To split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
X_train.shape

In [ ]:
X_test.shape

In [ ]:
from sklearn.cluster import KMeans
#est =  SGDRegressor()